<div class="upper">

  <div class="content">

    <div class="headline">

      <h1><span class="bold">So much more</span> than just a scholarship.</h1>
      <h5 class="grey">We believe that kids attending under-resourced schools in low-income communities need more
        than just financial aid. Support and guidance throughout their high school tenure
        is paramount to their success.</h5>

      <div class="button-container">

        <a href="/mission" class="button">
          Learn More
        </a>

      </div>

    </div>

  </div>

</div>

<div class="lower">

  <div class="content">

    <div style="text-align: center;">
      <div style='position: relative; padding-bottom: 81%; height: 0; overflow: hidden;'><iframe id='iframe' src='http://flickrit.com/slideshowholder.php?height=80&size=big&count=100&setId=72157649556028678&thumbnails=1&transition=0&layoutType=responsive&sort=0' scrolling='no' frameborder='0'style='width:100%; height:100%; position: absolute; top:0; left:0;' ></iframe></div>
    </div>

    <div>
      <h3>News and Announcements</h3>
    </div>

  </div>

</div><!-- /lower -->

<div class="modal fade" id="getInvolvedModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div id="getInvolved" class="involved section">
      <div class="text">
        <h3 class="">Get involved</h3>
        <div>We are young and very passionate about what we do but can't do this alone. If you would like to get involved or can help us out in any way, don't hesitate to send us an <a href="mailto:directors@hokuscholars.org">email!</a></div>
      </div>
    </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="donateNowModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div id="donateNow" class="donate section">
      <div class="text">
        <h3 class="">Donate now</h3>
        <div style="padding-bottom: 20px;">Just like any other non-profit, your generous donations help us immensely. If you really like what we are doing and want to support us financially, click below to make a tax deductible donation to our program. </div>

        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="text-align: center;">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="KN4DCFQ9BR7B6">
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt="" border="0" src="" width="1" height="1">
        </form>
      </div>
    </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
