<div class="upper">
	    
	<div class="content">

    	<div class="header">
		
    		<div class="nav clear">
    		
    			<div class="left">
    			
    				<img src="assets/hokulogowide.png" alt="Hoku Scholars">
    			
    			</div>
    			
    			<div class="right">
    			
    				<ul>
    				
    					<li>Get Involved</li>
    					<li>Stay Updated</li>
    					<li>Donate Now</li>
    				
    				</ul>
    			
    			</div>
    		
    		</div><!-- /nav -->
		    	
    	</div><!-- /header -->
    	
    	<div class="headline">
    	
    		<h1><span class="bold">So much more</span> than just a scholarship.</h1>
			<h5 class="grey">We believe that kids attending under-resourced schools in low-income communities need more support than simply financial aid.</h5> 
    		
    		<div class="button">
    		
    			Find Out More
    		
    		</div>
    	
    	</div>
    	
	</div><!-- /content -->
	    
</div><!-- /upper -->

<div class="lower">
	
	<div class="content">
	
		<div class="what-we-do clear">
			    		
			<div class="graphic left">
							
				<%= image_tag "college-icon.jpg", :alt => "Our mission is to develop college aspiring kids into college ready graduates." %>
			
			</div>
    		
    		<div class="callout left">
		
    			<div class="text">
    				
    				<h4>Hoku is an <span class="bold">integrated</span>, merit-based scholarship program that helps kids from America's <span class="bold">most vulnerable communities</span> get into college.</h4>		
    			</div>
    		
    		</div>
					    			    		
		</div><!-- /what-we-do -->
		
		<div class="attributes clear">
		
			<div class="question">
			
				<h4>What makes a <span class="bold">Hoku Scholar?</span></h4>
			
			</div>
		
			<div class="row clear">
			
	    		<div class="attribute academic">
	    		
	    			<div class="wrapper">
	    			
	    				<img src="assets/icons/academic.jpg" alt="Academic Achievement">
	    				<h3>Academic Achievement</h3>
	    				<p>Hoku scholars average a 3.83 GPA. All students are enrolled in the proper college-required courses and on pace to pass AP level courses.</p>
	    			
	    			</div>
	    			
	    		</div>
	    			
	    		<div class="attribute extracurricular">
    		
	    			<div class="wrapper">
	    			
	    				<img src="assets/icons/extracurricular.jpg" alt="Extracurricular">
	    				<h3>Extracurricular</h3>
	    				<p>100% of Hoku Scholars are involved in extracurricular activities, with 53% of scholars holding leadership roles.</p>
	    			
	    			</div>
	    		
	    		</div>

			
			</div>
			
			<div class="row clear">
			
				<div class="attribute service">
	    		
	    			<div class="wrapper">
	    			
	    				<img src="assets/icons/service.jpg" alt="Community Service">
	    				<h3>Community Service</h3>
	    				<p>The average Hoku Scholar completes 32 hours of service per year. Each student leads a community service initiative that impacts their community.</p>
	    			
	    			</div>
	    		
	    		</div>
	    		
	    		<div class="attribute test">
	    		
	    			<div class="wrapper">
	    			
	    				<img src="assets/icons/test.jpg" alt="Test Prep">
	    				<h3>Test Prep</h3>
	    				<p>Each Hoku Scholar must pass a quiz for every tested benchmark on the ACT/SAT prior to their junior year. 100% of the students will take the PSAT. </p>
	    			
	    			</div>
	    		
	    		</div>
			
			</div>
    		
    		<div class="attribute-alt pdu">
    		
    			<div class="wrapper">
    			
    				<img src="assets/icons/pdu.jpg" alt="Professional Development">
    				<h3>Professional Development</h3>
    				<p>Hoku scholars complete 2 professional development workshops every semester spanning topics such as communication skills, financial assistance applications, 
and selecting fit-appropriate colleges.</p>
    			
    			</div>
    		
    		</div>
		
		</div><!-- /attributes -->
			    		    	
	</div><!-- /content -->
	
	<div class="milestones">
	
		<div class="content">
		
			<h3><span class="bold">Integrated Milestones</span> Along the Way</h3>
			<p>Our program is built around milestones that help kids progress from <span class="bold">college-aspiring</span> to <span class="bold">college-ready</span>. Every time a Hoku Scholar meets a milestone, we set aside funds for their tuition.</p>
		
		</div>
		
		<div class="milestones-img">
		
			<img src="assets/milestones.jpg" alt="Milestones along the Way">
		
		</div>
		
	</div><!-- /milestones -->
	
	<div class="content">
	
		<div class="mentors clear">
		
			<div class="text left">
			
				<div class="inner">
				
					<h3><span class="bold">24/7 Access</span> to Mentors</h3>
					<p>Most students from low-income communities lack the support of college educated role models to guide & motivate them through the process of becoming college-ready. From middle school through high school, Hoku Scholars have full-time access to college educated mentors.</p>
				
				</div>
			
			</div>
		
			<div class="graphic right">
			
				<img src="assets/mentor-graphic.jpg" alt="24/7 Access to Mentors throughout all four years of high school.">
			
			</div>
		
		</div><!-- /mentors -->
	
	</div><!-- /content -->
	
	<div class="tool">
	
		<div class="section-title">
		
			<h2>Our Tool:</h2>
		
		</div>

		
		<div class="topper clear">
		
			<div class="left-img">
			
				<img src="assets/imuadisplay-left.png" alt="Imua Home Screen">
			
			</div>
			
			<div class="imua-logo">
			
				<img src="assets/imua-logo.png" alt="Imua Logo">
				<h4>Seamlessly Connecting <br>Students with Mentors</h4>
			
			</div>
			
			<div class="right-img">
			
				<img src="assets/imuadisplay-right.png" alt="Imua Student Screen">
			
			</div>

		</div><!-- /topper -->
	
		<div class="content">
		
			<div class="progress clear">
							
				<div class="scholar-chart">
				
					<img src="assets/hoku-scholar1.png" alt="An example Hoku Scholar">
				
				</div>
				
				<div class="text">
					<div class="inner">
					
						<h4>Tracking your progress to college-ready</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi auctor mattis diam, in scelerisque ipsum placerat sed. Pellentesque iaculis mi ipsum, sed porta lacus iaculis a. Praesent placerat tincidunt lacinia.</p>
					
					</div>
				
				</div>
			
			</div> <!-- /progress -->
			
			<div class="communication clear">
			
				<div class="text">
				
					<div class="inner">
					
						<h4>Powerful Communication</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi auctor mattis diam, in scelerisque ipsum placerat sed. Pellentesque iaculis mi ipsum, sed porta lacus iaculis a. Praesent placerat tincidunt lacinia.</p>
					
					</div>
				
				</div>
				
				<div class="phones">
				
					<img src="assets/phones.png" alt="Powerful Communication via Mobile">
				
				</div>
			
			</div>
												
		</div><!-- /content -->
	
	</div><!-- /tool -->
	
</div><!-- /lower -->