<div class="footer">

  <div class="content">

    <div id="stayUpdated" class="updated section">
      <div class="text">
        <h3 class="">Stay updated</h3>
        <div>We are constantly adapting and improving our program and tool. If you want to stay current on what we are doing, sign up to receive email updates.</div>
      </div>

      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="http://bbnow.us5.list-manage.com/subscribe/post?u=e08a3f7c7c61eaa78ad746184&amp;id=77765b0239" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required style="margin: auto; margin-bottom: 10px; border-radius: 4px;">
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;">
            <input type="text" name="b_e08a3f7c7c61eaa78ad746184_77765b0239" value="" style="margin: auto;">
          </div>
          <div class="clear">
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" style="margin: auto;">
          </div>
        </form>
      </div>

      <!--End mc_embed_signup-->
    </div>

  </div> <!-- /content -->
</div> <!-- /footer -->
