<div class="top-wrapper involvedContainer">

  <div class="top section wrapper">
    <h2>How <span class="bold">you</span> can get involved</h2>
    <h5 class="subtitle">If you like what we've been able to accomplish so far and want to to help us
    continue our mission there are many ways you can help out. </h5>
  </div>

  <div class="grey-bg">
    <div class="section wrapper">
      <h3 class="">Donations</h3>
      <div style="padding-bottom: 20px;">Just like any other non-profit, your generous donations help us immensely. If you really like what we are doing and want to support us financially, click below to make a tax deductible donation to our program. </div>

      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="text-align: center;">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="KN4DCFQ9BR7B6">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="" width="1" height="1">
      </form>
    </div>
  </div>

  <div class="section wrapper">
    <h3>Volunteer</h3>
    <div>We are young and very passionate about what we do but can't do this alone.
      If you would like to get involved or can help us out in any way, don't
      hesitate to send us an <a href="mailto:directors@hokuscholars.org">email!</a></div>
  </div>

  <div class="grey-bg">
    <div class="section wrapper">
      <h3>Corporate Sponsorships</h3>
      <div>We are always looking for corporations who want to share in our vision
      of helping low-income students get into college. If your corporation wants
      to sponsor Hoku Scholars in any way, please don't
      hesitate to send us an <a href="mailto:directors@hokuscholars.org">email!</a> </div>
    </div>
  </div>

</div>
