<div class="top-wrapper o4eContainer">
  <div class="o4e-header"></div>

  <div class="body">

    <div class="info">
      <div style="padding: 10px 0">
        <div class="bold" style="font-size: 36px">The 2015 Occasion for Education</div>
        <div>Presented by Pullman Bank & Trust</div>
      </div>
      <div><span class="bold">When:</span> April 25th, 2015 from 2pm - midnight</div>
      <div><span class="bold">Where:</span> Seven Bridges Ice Arena in Woodridge, IL <a target="_blank" href="https://www.google.com/maps/place/Seven+Bridges+Ice+Arena/@41.76393,-88.067657,15z/data=!4m2!3m1!1s0x0:0xd8be5fa05bbf0318">
        Map</a></div>
      <div><span class="bold">Admission:</span> $15 in advance or $20 at the door. <a target="_blank" href="https://o4e.ticketleap.com/occasion-4-education/dates/Apr-25-2015_at_0200PM">Buy your ticket!</a> </div>
      <div style="padding-top: 10px;"><a target="_blank" href="https://www.facebook.com/occasionforeducation"><img src="assets/fb_icon.png" style="height: 50px;"></a></div>
    </div>

    <div class="content">
      <p><span class="bold">April 25th, 2015</span> marks the third annual <span class="bold">Occasion for Education fundraiser</span>. The event will be entirely planned and run by more than 100 volunteers.</p>

      <p>The benefit, which is expected to draw more than 1,000 attendees, aims to raise funds and awareness for Hoku Scholars by gathering Chicagoland residents, families and professionals to enjoy live music, food, drinks and a wide range of family-friendly events. Most importantly, O4E will celebrate the power of individuals to enact positive change for youth living in underprivileged areas in Chicago and across the United States.</p>

      <p>Activities will include the Illinois High School Alumni Hockey Tournament featuring 16 teams and 200 players, a silent auction, raffles, bean bag tournaments, children’s games, face painting, photo booth, balloon artists, public ice skating, curling, broomball, live music, restaurant and bar access and more!</p>

      <p>The O4E is the primary fundraiser for Hoku Scholars. 100 percent of the proceeds from the event are put toward supporting students in our country’s most vulnerable communities, including Hoku Scholars' ongoing expansion to Percy L. Julian High School in Chicago’s Washington Heights neighborhood.</p>

      <p>Since Hoku Scholars was founded in 2012, it has provided more than <span class="bold">$42,000 – all raised by grassroots volunteers – in scholarship awards</span> to 70 students, with 92 percent of students becoming college-ready.</p>

      <p>Come out and celebrate for a great cause! <a target="_blank" href="https://o4e.ticketleap.com/occasion-4-education/dates/Apr-25-2015_at_0200PM">Buy your tickets</a> today</p>
    </div>

    <div class="sponsors">
      <span class="bold">A huge thanks to all of our sponsors!</span>
      <div class="main-sponsor">
        <a target="_blank" href="http://www.bankpullman.com/"><img src="assets/pullman_logo.png"></a>
      </div>
      <div class="other-sponsors">
        <a target="_blank" href="http://www.midamericalenders.com/"><img src="assets/midamerica_logo.jpg"></a>
        <a target="_blank" href="http://www.thehortongroup.com/"><img src="assets/horton_logo.png"></a>
        <a target="_blank" href="http://www.umarketing.com/"><img src="assets/umarketing_logo.png"></a>
        <a target="_blank" href="http://www.westsidechildrenstherapy.com/"><img src="assets/westside_logo.png"></a>
        <a target="_blank" href="http://www.jeffreylamorte.com/"><img src="assets/lamorte_logo.png"></a>
        <a target="_blank" href="http://www.springcm.com/"><img style="height: 50px;" src="assets/spring_logo.png"></a>
        <a target="_blank" href="http://www.veepak.com/"><img style="height: 50px;" src="assets/veepak_logo.png"></a>
      </div>
    </div>

  </div>
</div>
