<div class="top-wrapper storyContainer">
  <div class="section">
    <h2>Our Story</h2>
    <p>When people think of charities and the work that they do, it paints a
    colorful picture, full of difference-making and passion-fueled work. To
    think only along this dimension, though, leaves the majority of the Hoku
    story untold. Founding Hoku has been a story of trial and error,
    uncertainty, and most importantly persistence.</p>

    <div class="year"><h3>Year 1</h3></div>
    <p>In 2012, 6 months before completing my Teach for America commitment
      in Hawai'i, I --- Mark Cassidy --- approached my colleague Dane Carlson
      with an idea. I was unsettled by the fact that my 8th graders that I
      worked tirelessly to educate could fall victim to the statistics of a
      struggling high school.</p>

    <p>In Waianae, Hawaii, <span class="bold">less than 10% of students graduate from a 4-year
      college within 5 years; the high school dropout rate is 4 times the
      national average; and nearly three quarters of the students’ families
      find themselves in economic hardship.</span></p>

    <p>Dane and I decided to establish a program that would hold Waianae
      students to higher expectations, provide mentorship, and award
      scholarships. In January 2012, we incorporated the Waianae Coast
      Scholarship Fund with a vision of upending the statistics in Waianae
      by aiming for 90% of our students to attend and graduate college.</p>

    <p>There was one major problem, though. I was leaving the island in May.
      Other nonprofit leaders that we met with bluntly described us as
      “hopeless” and that we would need “a decade” to get our program operational.
      But we only had 5 months.</p>

    <p>My take was simple: getting something started would be better than doing
      nothing at all. So with no money, no staff, and a fledgling idea of what
      the program would offer we began our work. By summer, we had designed a
      skeleton of a program, admitted 15 students, and corralled a team of
      volunteer teachers who would help get the wheels moving.</p>

    <p>However, Year 1 was a mess. Our volunteers and students had little guidance
      on what they should be doing. We had no revenue outside in-kind donations
      from friends and family. And somehow we even managed to botch our application
      process.</p>

    <p>You live, learn, and move on, though. By the 4th quarter of that year,
      we had successfully organized our first service events, college prep
      workshops, and even managed to raise $15,000 for scholarships.</p>

    <div class="image">
      <%= image_tag "WCSFcheck.jpg", :alt => "A few of our kids" %>
    </div>

    <div class="year"><h3>Year 2</h3></div>
    <p>It remained positive until Year 2. The program doubled in size to support
      32 students, and more than half of our volunteers left the island. We were
       back to square one with a bigger problem, less resources, and larger
       budget to fill.</p>

    <p>This is when we invented the Occasion for Education, an annual benefit
      in Chicago that would help raise a funding base for Hoku. Within 2 years,
      the benefit brought 1,800 attendees through its doors, was supported by
      175 volunteers, and raised over $55,000. The city of Chicago had literally
       propped up our Waianae program to live another day.</p>

    <div class="image">
     <%= image_tag "o4e_2013.jpg", :alt => "The first ever Occasion For Education" %>
    </div>

    <div class="year"><h3>Year 3</h3></div>
    <p>Hence in Year 3, we came back invigorated. We hired 6 part-time staff
      members, expanded to another high school and 30 more students, and had
      thousands of pro bono hours donated from professional software engineers
      and designers to revamp our website and create a web tool called
      <a href="https://www.myimua.org">Imua</a> that helps
      students track their progress throughout the program.</p>

    <div class="image">
      <%= image_tag "group_2014.jpg", :alt => "Our 2014 Cohort" %>
    </div>

    <div class="year"><h3>Present Day</h3></div>
    <p>Hoku today supports 60 students, and 92% of them are on pace to being
      college ready. Hoku Scholars average a 3.83 GPA and complete 32 hours
      of service each year. 95% are involved in extracurricular activities with
       more than half in leadership roles. All students complete ongoing test
       prep, attend college workshops, and apply for scholarships and financial
        aid.</p>

    <p>In 2015, we will bring Hoku to our second city – Chicago. We plan to hire
       our first full-time CEO and establish a Board of Directors. As we continue
        to solidify our foundation, we will expand our program resources to
        support earlier grades and more vulnerable student demographics.</p>

    <p>If we have demonstrated anything over the years, it is that we are here
      to stay. We know the work that we do matters and that it is putting more
      underserved students on a track to college.</p>

    <p>We thank all those that have believed in us. We hope our story has proven
      to you that we are moving forward and that we will find a way to achieve
      our vision of more than 90% of our students being prepared to succeed in
      college.</p>

    <div class="signature">

      <div>--------</div>
      <div>Mark Cassidy</div>
      <div>Co-Founder Hoku Scholars</div>
    </div>

  </div>
</div>
