/* ===============================================
   *******************  Reset  *******************
   =============================================== */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }


/* ===============================================
   *****************  Variables  *****************
   =============================================== */

/* Breakpoints */

@mixin respond-to($breakpoint) {
    @media only screen and (max-width: $breakpoint + px) { @content; }
}

@mixin respond-to-min($breakpoint) {
    @media only screen and (min-width: $breakpoint + px) { @content; }
}


/* Colors */

@function black($opacity){
    @return rgba(0,0,0,$opacity)
}

@function white($opacity){
    @return rgba(255,255,255,$opacity)
}

$green: rgb(65,173,73);
$red: rgb(239,65,61);
$blue: rgb(39,170,225);
$yellow: rgb(232,190,40);
$purple: rgb(150,101,170);
$darkgrey: rgb(40,40,40);


/* Fonts */

@mixin headline-font($size) {
		font-family: "proxima-nova-alt", "Helvetica Neue", "Arial", sans-serif;
   		font-size: $size;
   		line-height: 1.2;
   		font-weight: 100;
}

@mixin body-font($size) {

		font-family: "proxima-nova-alt", "Helvetica Neue", "Arial", sans-serif;
		font-weight: 300;
		font-style: normal;
		font-size: $size;
		line-height: 1.5;

}

.bold {font-weight: 700;}


/* Transitions */

@mixin trans($time) {
	-webkit-transition: all $time ease;
	-moz-transition: all $time ease;
	-o-transition: all $time ease;
	transition: all $time ease;
}

/* Other Variables */

@mixin bgcover() {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* ===============================================
   Global Body Styles
   =============================================== */

body { 

	@include body-font(22px);
	@include respond-to(1024) { font-size: 18px; }
	@include respond-to(480) { font-size: 14px; }
	width: 100%;

}

.content {

	width: 85%;
	margin: 0 auto;

}

.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

/* mixin(font-size, letter-spacing) */
      
h1 { 

	@include headline-font(80px);
	@include respond-to(1024) { font-size: 60px; }
	@include respond-to(640) { font-size: 45px; }
	@include respond-to(480) { font-size: 35px; }
	
}

h2 {

	@include headline-font(60px);

}

h3 { 

	@include headline-font(44px);
	margin-bottom: 10px;
	
}


h4 { 

	@include headline-font(36px);
	
}

p {

	margin-bottom: 20px;

}

.left {

	float: left;

}

.right {

	float: right;

}


/* ===============================================
   Upper
   =============================================== */

.upper {

	width: 100%;
	height: 800px;
	background: image-url("temp-bg2.jpg") center center no-repeat;
	@include bgcover();
	color: white;
		
	.header {
	
		width: 100%;
		padding-top: 35px;
		
		.nav {
		
			margin: 0 auto;
			
			ul {
			
				padding-top: 10px;
				
				li {
			
					float: left;
					margin-left: 50px;
					cursor: pointer;

					&:hover {
						border-bottom: 1px solid white;
					}
				}
			
			}
					
		}
	
	}
	
	.headline {
	
		width: 100%;
		text-align: center;
		margin-top: 220px;
		
		.grey {
		
			color: #aaa;
			margin-top: 10px;
		
		}
		
		.button {
		
			border: 1px solid #fff;
			width: 200px;
			padding: 15px 0;
			margin: 0 auto;
			margin-top: 40px;
			cursor: pointer;
		}
	
	}
	
}


/* ===============================================
   Lower
   =============================================== */

.lower {

	padding: 125px 0px 0px 0px;
		
	.what-we-do {
	
		width: 85%;
		margin: 0 auto;
		margin-bottom: 80px;

		.callout {
		
			width: 70%;
			margin-bottom: 40px;

			.text {
				
				margin-top: 25px;
				padding: 50px;
				
				h4 {
				
					padding-bottom: 20px;
				
				}
			
			}
		
		}
		
		.graphic {
		
			width: 30%;
			text-align: center;
			
			img {
			
				width: 100%;
				height: auto;
				max-width: 300px;
			
			}
		
		}
	
	}
	
	.title {
	
		text-align: center;
		padding: 160px 0;
		color: white;
			
	}
	
	.blue {
	
		background: $blue;
	
	}
	
	.attributes {
	
		text-align: center;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		padding: 125px 0;
		width: 100%;
		
		.question {
		
			margin-bottom: 30px;
		
		}
		
		.attribute {
		
			width: 50%;
			float: left;
			margin: 0 auto;
			
			.wrapper {
			
				padding: 40px;
			
			}
		
			img {
			
				width: 30%;
				height: auto;
				margin-bottom: 15px;
			
			}
		
		}
		
		.attribute-alt {
		
			width: 50%;
			margin: 0 auto;
			
			.wrapper {
			
				padding: 40px;
			
			}
		
			img {
			
				width: 30%;
				height: auto;
				margin-bottom: 15px;
			
			}
		
		}

	
	} //attributes
	
	.milestones {
	
		text-align: center;
		padding: 125px 0;
		width: 100%;
		
		.milestones-img {
		
			width: 100%;
			text-align: right;
			
			img {
			
				width: 100%;
			
			}
		
		}
	
	} //milestones
	
	.mentors {
	
		border-top: 1px solid #ccc;
		padding: 125px 0;
		width: 100%;
		
		.text {
		
			width: 60%;
			text-align: right;
			
			.inner {
			
				padding: 60px;
			
			}
		
		}
		
		.graphic {
		
			width: 40%;
			text-align: center;
			
			img {
			
				width: 80%;
				height: auto;
				max-width: 550px;
			
			}
		
		}

	} //mentors

	.tool {
	
		background: $darkgrey;
		color: white;
		padding: 175px 0 0 0;
		
		.section-title {
		
			text-align: center;
			margin-bottom: 80px;
		
		}
		
		.topper {
		
			margin-bottom: 150px;
		
			.left-img, .right-img {
			
				width: 25%;
				
				img {
				
					width: 100%;
					height: auto;
					max-width: 500px;
				
				}
			
			}
		
			.left-img {
		
				float: left;
			
			}
			
			.imua-logo {
			
				width: 50%;
				text-align: center;
				float: left;
				
				img {
				
					width: 60%;
					height: auto;
					max-width: 551px;
					margin-bottom: 20px;
				
				}
			
			}
			
			.right-img {
			
				float: right;
			
			}
		
		} //topper
		
		.track-progress {
		
			padding: 100px 0;
			border-top: 1px solid #555;
		
			.scholar-chart {
			
				width: 40%;
				float: left;
				
				img {
				
					width: 100%;
					height: auto;
					max-width: 700px;
				
				}
			
			}
			
			.text {
			
				width: 60%;
				float: left;
				
				.inner {
				
					padding: 100px;
				
				}
			
			}
		
		} //progress
		
		.communication {
		
			padding: 100px 0;
			border-top: 1px solid #555;
			border-bottom: 1px solid #555;			
		
			.phones {
			
				width: 50%;
				float: left;
				
				img {
				
					width: 100%;
					height: auto;
					max-width: 700px;
				
				}
			
			}
			
			.text {
			
				width: 50%;
				float: left;
				
				.inner {
				
					padding: 100px 0px 100px 100px;
				
				}
			
			}
		
		} //progress
		
		.display {
		
			text-align: center;
		
		}

	
	}

} //lower

/* ===============================================
   Footer
   =============================================== */

.footer {	

	.section {		
		margin-bottom: 25px;

		.text { 

			padding: 80px 0 40px 0;
			text-align: center;

		}

	}

} //footer