.storyContainer {
  text-align: center;

  p {
    padding: 20px 0;
  }

  .year { padding: 20px 0; }

  .signature { text-align: right; padding-bottom: 50px; }

  .image {
    img { width: 850px; }

    padding-bottom: 20px;
  }
}
